/* Login */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* Login */
  
    /* Auto layout */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 285px 410px; */
    gap: 10px;
  
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
  
    background: #EFFFEE;
  }
  
#login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  #login-container {
    /* Frame 2 */
  place-items: center;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 11px;
  
    /* Remove position absolute */
    width: 331px;
    height: 131px;
  
    /* Centering the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#login-btn-div {
    /* Frame 1 */

    cursor: pointer;
    
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 180px;
height: 60px;

/* buttons / primary */
background: #42E61C;
border: 2px solid #000000;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

/* font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center; */

  /* Transition for smooth pop effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
#login-btn-div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#login-btn {
    /* Login with DAuth */

    cursor: pointer;
width: 138px;
height: 27px;

/* font-family: 'Noto Sans';
font-style: normal;
font-weight: 550; */
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

/* Black */
color: #000000;


background: #42E61C;

/* Black */
border: 0px solid #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}

#dauth-url {
    /* Do not have a DAuth account? */

width: 244px;
height: 24px;

/* font-family: 'Poppins';
font-style: normal;
font-weight: 400; */
font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

/* text */
color: #051502;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
